# <h3> Loading the correct Libraries below. </h3>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# <h4> We declare the headers of the dataset below. </h4>

In [3]:
headers =["symboling","normalized-losses","make","fuel-type","aspiration","num-of-doors","body-style","drive-wheels","engine-location","wheel-base",
          "length","width","height","curb-weight","engine-type","num-of-cylinders","engine-size","fuel-system","bore","stroke","compress","stroke","compress",
          "horse-power","peak-rpm","city-mpg","highway-mpg","price"]

# <h4>We use the method "read-csv()" to load the dataset Automobile below </h4>

In [4]:
df= pd.read_csv ("Automobile_data.csv")

# <h4> We use the method "head()" to read the first five rows of the dataset </h4>

In [15]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

# <h4> As observed above we have so many "?" meaning there is a lot of missing data in the dataset which needs to be replace. </h4>

# <h4> We use the method "tail()" to read the last five rows of the dataset. </h4>

In [25]:
df.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

# <h5>Steps of dealing with missing data </h5>
<p>Identify the missing data.</p>
<p>Correct the missing data.</p>
<p>Correct data format</p>

# <h4> Replacing the "?" with NaN- Not A Number </h4>

In [26]:
import numpy as np

#Replace the "?" with NaN
df.replace("?", np.nan, inplace=True)

# <h4>Check for the Missing values "?" have being replaced using the head() method</h4>

In [18]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

# <h4>Evaluating missing data. </h4>
# <h4>There are two ways to identify missing values.</h4>
# <h5> 1. .isnull() </h5>
# <h5> 2. .notnull() </h5>

In [19]:
missing_data =df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# <h5> "True" means the value is missing value while "False" missing there is no missing value. </h5>

# <h3>Count missing values in each column.</h3>
# <h6>We will use a loop in Python to finally figure it out the number of missing values in each column. As mentioned "True" means there is missing value while "False" means there is no missing values within that column. </h6>

In [20]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

symboling
symboling
False    205
Name: count, dtype: int64

normalized-losses
normalized-losses
False    205
Name: count, dtype: int64

make
make
False    205
Name: count, dtype: int64

fuel-type
fuel-type
False    205
Name: count, dtype: int64

aspiration
aspiration
False    205
Name: count, dtype: int64

num-of-doors
num-of-doors
False    203
True       2
Name: count, dtype: int64

body-style
body-style
False    205
Name: count, dtype: int64

drive-wheels
drive-wheels
False    205
Name: count, dtype: int64

engine-location
engine-location
False    205
Name: count, dtype: int64

wheel-base
wheel-base
False    205
Name: count, dtype: int64

length
length
False    205
Name: count, dtype: int64

width
width
False    205
Name: count, dtype: int64

height
height
False    205
Name: count, dtype: int64

curb-weight
curb-weight
False    205
Name: count, dtype: int64

engine-type
engine-type
False    205
Name: count, dtype: int64

num-of-cylinders
num-of-cylinders
False    205
Name: count, dtype: int64

engine-size
engine-size
False    205
Name: count, dtype: int64

fuel-system
fuel-system
False    205
Name: count, dtype: int64

bore
bore
False    205
Name: count, dtype: int64

stroke
stroke
False    201
True       4
Name: count, dtype: int64

compression-ratio
compression-ratio
False    205
Name: count, dtype: int64

horsepower
horsepower
False    203
True       2
Name: count, dtype: int64

peak-rpm
peak-rpm
False    203
True       2
Name: count, dtype: int64

city-mpg
city-mpg
False    205
Name: count, dtype: int64

highway-mpg
highway-mpg
False    205
Name: count, dtype: int64

price
price
False    201
True       4
Name: count, dtype: int64

# <h4> Calculate the mean value for the "Normalized losses" in the column </h4>

In [21]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average Normalized losses", avg_norm_loss)

Average Normalized losses 122.0

# <h4> Replace the NaN value with mean in Normalized losses. </h4>

In [22]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

# <h4>Calculate the mean value for the "bore" in the column.</h4>

In [23]:
bore_avg = df["bore"].astype("float").mean(axis=0)
print("Average Bore", bore_avg)

Average Bore 3.3297512437810943

# <h4> Replace the NaN value with mean in Bore. </h4>

In [24]:
df["bore"].replace(np.nan, bore_avg, inplace=True)

# <h3>Replace the NaN value with mean in Stroke Column. We start by calculate the average of the stroke column</h3>

In [27]:
strokeAvg= df["stroke"].astype("float").mean(axis=0)
print("Average Stroke", strokeAvg)

Average Stroke 3.255422885572139

# <h4>Now, replace the NaN value with the mean. </h4>

In [28]:
df["stroke"].replace(np.nan,strokeAvg,inplace=True)

# <h4> Calculating the mean value of the Horsepower column in the dataset. </h4>

In [29]:
horsepowerAvg= df["horsepower"].astype("float").mean(axis=0)
print("Average Horsepower", horsepowerAvg)

Average Horsepower 104.25615763546799

# <h3> Replace the NaN Value in the horsepower column with the mean value. </h4>

In [30]:
df["horsepower"].replace(np.nan,horsepowerAvg,inplace=True)

# <h4>Calculate the mean Value of Peak Rpm column </h4>

In [31]:
PeakRpmAvg= df["peak-rpm"].astype("float").mean(axis=0)
print("Average of Rpm",PeakRpmAvg)

Average of Rpm 5125.369458128079

# <h4> Replace NaN values of peak rpm with mean value. </h4>

In [32]:
df["peak-rpm"].replace(np.nan,PeakRpmAvg,inplace=True)

# <h4> To check the most common values in a column we can use the value_counts() method. </h4>

# <h4>Below we check the most common values in the column Num of Doors. </h4>

In [33]:
df["num-of-doors"].value_counts()

num-of-doors
four    114
two      89
Name: count, dtype: int64

# <h4>.idxmax method gets the most common value automatically. </h4>